@model Pie
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        @if (Model.ImageThumbnailUrl != null)
        {
            <img src="@Model.ImageThumbnailUrl" style="max-height:150px;" alt="">
        }
        else if (Model.PictureByte != null)
        {
            <img style="object-fit: cover; max-height:150px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.PictureByte))" alt="">
        }
        <div class="caption">
            <h3 class="pull-right">@Model.Price.ToString("c")</h3>
            <h3>
                <a asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId">@Model.Name</a>
            </h3>
            <p>@Model.ShortDescription</p>
        </div>
        <div class="row">
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary"
                       asp-controller="Cake"
                       asp-action="Manage"
                       asp-route-pieId="@Model.PieId">Edit Pie</a>
                </p>
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary"
                       asp-controller="Cake"
                       asp-action="DeletePie"
                       asp-route-pieId="@Model.PieId">Delete</a>
                </p>
            </div>
        </div>
    </div>
</div>